@import-normalize;
@import './reset.css';

:root {
  --brand-color: #3470FF;
  --accent-color: #0B44CD;
  --body-bg: #ffffff;
  --field-bg: #F7F7FB;
  --text-color: rgb(18 20 23 / .5);
  --title-color: #121417;
}

body {
  font: 400 12px/1.5 "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1184px;
}